.aboutWrapper{
    margin: 32px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color: white;
}

.aboutWrapper img{
    width: 30px;
    height: 30px;
}

.aboutWrapper h4{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
}

.aboutWrapper p {
    text-align: center;
    font-size: large;
}
.backBtn{
  border: none;
  padding: 10px;
  background-color: chocolate;
  color: white;
  border-radius: 10px;
  margin-bottom: 16px;
  cursor: pointer;}

.backBtn:hover{
  background-color: rgb(141, 70, 20);
}

@media screen and (max-width: 600px) {
    .aboutWrapper{
        margin: 16px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        text-wrap: wrap;
    }

    .aboutWrapper img{
        width: 20px;
        height: 20px;
    }
    
    .aboutWrapper h4{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        gap: 20px;
        margin-top: 16px;
    }
    
    .aboutWrapper p {
        text-align: center;
        font-size: medium;
    }
    
}