.navWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgb(141, 70, 20);
    background-color: rgb(219, 134, 74);
    
}
.navWrapper *{
    color: white;
    text-decoration: none;
}
.linkWrapper{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.active{
    color: rgb(141, 70, 20);
}

.burgerMenu{
    display: none;
    font-size: 24px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .linkWrapper{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        width: 100%;
        background-color: rgb(219, 134, 74);
    }
    .linkWrapper.show{
        display: flex;
    }
    .linkWrapper a{
        margin: 0;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid grey;
    }
    .burgerMenu{
        display: block;
    }
    
}