*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    width: 100%;
    height: 100vh;
    /* background-color:  rgb(201, 137, 91); */
    
    background-image: url("./assets/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
   

}

.appWrapper{
    text-align: center;
}