.detailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.detailWrapper h1{
  margin-top: 16px;
  margin-bottom: 16px;
}

.imgWrapper {
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.mealImage {
  width: 100%;
  border-radius: 10px;
}
.bottomWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: large;
}
.nutWrapper {
  padding: 10px;
  background-color: chocolate;
  color: white;
  width: 50%;
  height: 250px;
  border-radius: 10px;
   margin-bottom: 16px;
  
}
.ingWrapper {
  padding: 10px;
  background-color: chocolate;
  color: white;
  width: 50%;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 16px;
}
.instructions{
  padding: 10px;
  background-color: chocolate;
  color: white;
  width: 50%;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 16px;
}
.instructions a{
  color: white;
  text-decoration:underline;
  font-style: italic;
  
}

.backBtn{
  border: none;
  padding: 10px;
  background-color: chocolate;
  color: white;
  border-radius: 10px;
  margin-bottom: 16px;
  cursor: pointer;}

.backBtn:hover{
  background-color: rgb(141, 70, 20);
}